body {
   height: 100vh;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   color: white;
   background-color: rgb(40, 90, 151);
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1 {
   font-size: 3em;
   font-style: italic;
   text-transform: uppercase;
   margin-bottom: 2.5em;
}

a {
   text-decoration: none;
   color: white;
   font-size: 21px;
   background-color: rgb(14, 43, 63);
   padding: 25px 50px;
   border-radius: 10px;
}

.projects {
   display: inline-block;
   margin-right: 1.5em;
}